@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

body {
    background-color: rgb(241, 241, 241);
    font-family: 'Poppins', sans-serif;;
}
/* header */ 

 .bg-banner {
     background-image: url('../assets/Web\ 1920\ –\ 1.jpg');
     background-repeat: no-repeat;
     text-align: center;
     background-size: cover;
 }
.chamada-banner{
    color: rgb(219, 219, 219);
    h1{
        font-weight: 600;
        margin-bottom: 10px;
    }
    .chamada-texto{
        font-size: 20px;
        font-weight: 500;
    }
    p{
        font-size: 15px;
        font-weight: 300;
    }
}
.email-form{
    width: 50vh;
    display: inline-block; 
    border-radius: 30px;
    position: relative;
}
.email-form .form-control{
    display: inline-block;
    border: 1;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    margin: 0;
    padding: 2px;
    height: 40px;
    border-radius: 20px;
}
.email-form .submit{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    background-color: #eee;
    font-size: 1rem;
    text-align: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}
/* services */

.titulo-servicos{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 65, 65);
    font-size: 30px;
    font-weight: 400;
    padding-top: 40px;
}
.servicos{
    padding: 50px 0px;
    justify-content: center;
}
.servicos, .card{
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
    text-align: center;
    padding: 30px 15px;
    color: rgb(65, 65, 65);
    border: none;
}
.card h1{
    font-size: 25px;
    padding-bottom: 15px;
}
.card p{
    font-size: 15px;
    font-weight: 200;
}
.card img{
    width: 20%;
    padding-bottom: 15px;
}
.secao-1{
    padding: 0px;
    background-color: white;
}
.secao-1-img{
    align-self: center;
    text-align: center;
}
.secao-1-img img{
    // width: 100%;
    padding: 0px;
}
.secao-1-text{
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 65, 65);
    margin-top: 70px;
}
.secao-1-text span{
    font-weight: 600;
    font-size: 30px;
}
.secao-1-text p, ul{
    font-size: 15px;
    font-weight: 300;
    list-style: none;
    padding: 20px 0px;
    margin: 0px !important;
}
.secao-1-text ul li{
    padding: 5px 0px;
    margin-left: 30px;
}
.secao-1-text ul li:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #604D90;
    position: relative;
    top: 16px;
    right: 30px;

}
.row-style{
    justify-content: center; 
    width: 100%; 
    margin: 0px !important;
    padding-bottom: 50px;
}
.card-div{
    background-color: rgb(223, 214, 245);
    font-weight: 200;
    margin-bottom: 30px;
    padding: 10px;
}
.cta {
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: #604D90;
    user-select: none;
    border-radius: 5px;
    width: 150%;
    padding: 0px;
    height: 40px;
}
.cta:hover{
color: rgb(87, 87, 87);
}
.faq {
    text-align: center;
    font-size: 40px;
    color: #414141;
}
.accordionWrapper{
    text-align: center;
    padding:30px;
    background:#fff;
    float:left;
    width:80%;
    box-sizing:border-box;
    margin:10%;    
    box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);}

.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family:'Open-sans',Arial,sans-serif;
}
.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#604D90;
    color:#fff;
    width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
}
.open .accordionItemContent{
        padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
}

.open .accordionItemHeading{
    margin:0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #bdc3c7;
    color: #7f8c8d;
}


@media(min-width: 1900px){
    .secao-1-img img{
        max-width: 70% !important;
    }
    .secao-1-text{
        max-width: fit-content;
    }
}
@media(min-width: 2000px){
    .secao-1-img img{
        max-width: 50% !important;
    }
    .row-style{
        padding: 0px 600px;
    }
}