@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

body {
    background-color: rgb(241, 241, 241);
}
/* header */ 

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a {
    text-decoration: none;
}

.header {

    background-image: url('../assets/Web\ 1920\ –\ 1@2x.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu {
    display: flex;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
padding: 10px;
}

/* services */

.titulo-servicos{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 65, 65);
    font-size: 30px;
    font-weight: 400;

}
.servicos{
    justify-content: center;
}
.servicos, .card{
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
    text-align: center;
    padding: 30px 15px;
    color: rgb(65, 65, 65);
    border: none;
}
.card h1{
    font-size: 25px;
    padding-bottom: 15px;
}
.card p{
    font-size: 15px;
    font-weight: 200;
}
// .div-img{
//     background-color: #674D90;
//     opacity: 10%;
//     border-radius: 55px;
// }
.card img{
    width: 20%;
    padding-bottom: 15px;
}